<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>KenzieHabit</title>
    <link rel="shortcut icon" href="/src/assets/img/logo-kenzie.png" type="image/x-icon">


    <!-- Google Fonts: Inter -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap"
        rel="stylesheet">

    <!-- CSS -->
    <base href="/">
    <link rel="stylesheet" href="src/css/base.css">
    <link rel="stylesheet" href="src/css/reset.css">
    <link rel="stylesheet" href="src/css/user.style.css">

</head>

<body>

    <header>

        <h1>KenzieHabit</h1>

        <img class="header_userImage" src="">

    </header>

    <section class="section_userInfo">

        <img class="section_userInfo_image" src="">

        <h2 class="section_userInfo_name">fgfgfg</h2>

    </section>

    <main>

        <section class="section_habits">

            <h2 class="section_habits_title">Tarefas</h2>

            <nav>

                <button class="btn_filter_all">Todos</button>
                <button class="btn_filter_concluded">Concluídos</button>
                <button class="btn_create">Criar</button>

            </nav>

        </section>

        <table>

            <thead>

                <tr>

                    <th class="th_status" scope="col">Status</th>
                    <th class="th_title" scope="col">Título</th>
                    <th class="th_description" scope="col">Descrição</th>
                    <th class="th_category" scope="col">Categoria</th>
                    <th class="th_edit" scope="col">Editar</th>

                </tr>

            </thead>

            <tbody>

            </tbody>

        </table>

        <button class="btn_showMore">Carregar mais</button>

    </main>

    <footer></footer>

    <div class="edit_habit_modal">
        <div class="inner_edit_habit_modal">
            <div class="edit_modal_header">
                <h2>Editar hábito</h2>
                <button id="close_edit_modal_button"><img src="/src/assets/img/x-close.svg" alt=""></button>
            </div>
            <form class="edit_habit_form" action="#">
                <div class="title_div">
                    <label for="habit-title">Título</label>
                    <input name="habit-title" id="habit_title" placeholder="Título a ser alterado aqui">
                </div>
                <div class="description_div">
                    <label for="habit_description">Descrição</label>
                    <textarea name="habit-description" id="habit_description" cols="30" rows="5"
                        placeholder="Descrição a ser alterada aqui"></textarea>
                </div>
                <div class="category_div">
                    <label for="habit-category">Categoria</label>
                    <select name="habit-category" id="habit-category">
                        <option value="casa">Casa</option>
                        <option value="estudos">Estudo</option>
                        <option value="lazer">Lazer</option>
                        <option value="trabalho">Trabalho</option>
                        <option value="saude">Saúde</option>
                    </select>
                </div>
                <div class="status_div">
                    <label for="habit_status">Status</label>
                    <input type="checkbox" id="habit_status">
                </div>
            </form>
            <div class="modal_btns_div">
                <button id="delete_habit_button" name="delete_habit_button">Excluir</button>
                <button id="save_changes_habit_button" name="save_changes_habit_button">Salvar alterações</button>
            </div>
        </div>
    </div>

    <div class="modal">

        <div class="container_createHabit">

            <div class="modal_createHabit">

                <div class="createHabit_inner">

                    <div class="createHabit_innerTitle">Criar Hábito</div>
                    <button class="createHabit_innerButton" type="button"><img src="/src/assets/img/x-close.svg" alt=""></button>

                </div>

                <form action="" class="createHabit_form">

                    <div class="createHabit_title">
                        <label for="title">Título</label>
                        <input type="text" name="title" id="title" placeholder="Digitar título">
                    </div>

                    <div class="createHabit_description">
                        <label for="description">Descrição</label>
                        <textarea name="" id="create_habit_description" placeholder="Digitar descrição"></textarea>
                    </div>

                    <div class="createHabit_category">
                        <label for="create_habit_category">Categoria</label>
                        <select name="" id="category" class="create_habit_category">
                            <option value="casa">Casa</option>
                            <option value="estudos">Estudo</option>
                            <option value="lazer">Lazer</option>
                            <option value="trabalho">Trabalho</option>
                            <option value="saude">Saúde</option>
                        </select>
                    </div>

                    <div class="button_insert">
                        <button type="button" id="create_habit_btn">Inserir</button>
                    </div>

                </form>

            </div>

        </div>

    </div>

    <div class="modal_exclude">
        <div class="modal_exclude_container">
            <div class="modal_exclude_title">
                <h2>Excluir hábito</h2>
                <button id="close_edit_modal_button"><img src="/src/assets/img/x-close.svg" alt=""></button>
            </div>
            <div class="modal_exclude_question">Tem certeza que deseja excluir este hábito?</div>
            <div class="modal_exclude_alert">Após executar essa ação não será possível desfazer</div>
            <div class="modal_exclude_buttons">
                <button id="cancel_action_button" name="cancel_action_button">Cancelar</button>
                <button id="confirm_action_button" name="confirm_action_button">Sim, excluir este hábito</button>
            </div>
        </div>
    </div>

    <div class="modal_edit_profile">
        <div class="edit_profile_container">
            <div class="edit_profile_title">
                <h2>Editar perfil</h2>
                <button id="close_edit_profile_button"><img src="/src/assets/img/x-close.svg" alt=""></button>
            </div>
            <form action="">
                <div class="edit_profile_name">
                    <label for="edit-profile-name">Nome</label>
                    <input name="edit_profile_name" id="edit_profile_name">
                </div>
                <div class="edit_profile_url">
                    <label for="edit-profile-url">URL da imagem do perfil</label>
                    <input name="edit_profile_url" id="edit_profile_url">
                </div>
            </form>
            <div class="edit_profile_button">
                <button id="edit_profile_save_button" name="edit_profile_save_button">Salvar alterações</button>
            </div>
        </div>
    </div>


    <div class="modal_success">
        <div class="modal_success_container">
            <div class="modal_success_left">
                <div class="modal_success_circle">
                    <img src="/src/assets/img/checkSignal.svg" alt="">
                </div>
            </div>
            <div class="modal_success_right">
                <h2>Sucesso!</h2>
                <h3>Seu hábito foi criado</h3>
            </div>
        </div>
    </div>

    <script type="module" src="/src/js/controllers/user.controller.js"></script>

</body>

</html>