<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>KenzieHabit</title>

    <!-- Google Fonts: Inter -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap"
        rel="stylesheet">

    <!-- CSS -->
    <base href="/">
    <link rel="stylesheet" href="src/css/base.css">
    <link rel="stylesheet" href="src/css/reset.css">
    <link rel="stylesheet" href="src/css/user.style.css">
    
</head>

<body>

    <header>

        <h1>KenzieHabit</h1>

        <img class="header_userImage" src="">

    </header>

    <section class="section_userInfo"> 

        <img class="section_userInfo_image" src="">

        <h2 class="section_userInfo_name">fgfgfg</h2>

    </section>

    <main>

        <section class="section_habits">

            <h2 class="section_habits_title">Tarefas</h2>

            <nav>

                <button class="btn_filter_all">Todos</button>
                <button class="btn_filter_concluded">Concluídos</button>
                <button class="btn_create">Criar</button>

            </nav>

        </section>

        <table>

            <thead>

                <tr>

                    <th class="th_status" scope="col">Status</th>
                    <th class="th_title" scope="col">Título</th>
                    <th class="th_description" scope="col">Descrição</th>
                    <th class="th_category" scope="col">Categoria</th>
                    <th class="th_edit" scope="col">Editar</th>

                </tr>

            </thead>

            <tbody>
 <!-- criar de maneira dinamica-->
                <tr>

                    <td class="habit_status">
                        <button class="btn_selectHabit"></button>
                    </td>

                    <td class="habit_title">oi</td>
                    <td class="habit_description">oi</td>
                    <td class="habit_category">oi</td>

                    <td class="habit_edit">
                        <img src="" alt="">
                    </td>

                </tr>

                <tr>

                    <td class="habit_status">
                        <button class="btn_selectHabit"></button>
                    </td>

                    <td class="habit_title">oi</td>
                    <td class="habit_description">oi</td>

                    <td class="habit_category"> 
                          <span>Tag</span>
                    </td>

                    <td class="habit_edit">
                        <img src="" alt="">
                    </td>

                </tr>
                
<!-- criar de maneira dinamica-->
            </tbody>

        </table>

        <button class="btn_showMore">Carregar mais</button>

    </main>

    <footer></footer>

    <div class="modal_createHabit">

        <div class="createHabit_inner">

            <h2>Criar Hábito</h2>
            <p>X</p>

        </div>

        <form action="" class="createHabit_form">

            <label for="title">Título</label>
            <input type="text" name="title" id="title" placeholder="Digitar título">

            <label for="description">Descrição</label>
            <input type="text" name="description" id="description" placeholder="Digitar descrição">

            <label for="category">Categoria</label>
            <input list="list" name="category" id="category" placeholder="Selecionar categoria">
                <datalist id="category">
                    <option value="">Casa</option>
                    <option value="">Estudo</option>
                    <option value="">Lazer</option>
                    <option value="">Trabalho</option>
                    <option value="">Saúde</option>
                </datalist>

                <button type="button">Inserir</button>
        </form>

    </div>

    
    <script type="module" src="src/js/controllers/user.controller.js"></script>

</body>

</html>


