:root {

    /* ------------------ main colors -------------------- */

    --color-blue: 65, 90, 243; /* brand-1 */
    --color-blue-dark: 65, 80, 210; /* brand-2 */
    --color-blue-light: 215, 228, 251; /* brand-3 */
    
    /* ------------------ grey scale --------------------- */

    --color-grey1: 33, 37, 41;
    --color-grey2: 52, 58, 64;
    --color-grey3: 173, 181, 189;
    --color-grey4: 233, 236, 239;
    --color-grey5: 241, 243, 245;
    --color-grey6: 241, 243, 245;

    --color-white: 255, 255, 255;

    /* ---------------- feedback colors ------------------ */

    --color-green: 86, 207, 142; /* success */
    --color-red-light: 230, 68, 69; /* error-1 */
    --color-red: 240, 56, 57; /* error-2 */

    /* ------------------ font base ---------------------- */

    --font-base: 'Inter', sans-serif; 


}
