html, body {
    color:          rgba(var(--color-blue), 1);
    width:          100vw;
    height:         100vh;
    display:        flex;
    min-width:      280px; 
    font-family:    var(--font-base);
    align-items:    center;
    flex-direction: column;
}

header {
    width:            100vw;
    height:           3.625rem;
    display:          flex;
    padding:          0 1.25rem;
    min-height:       44px;
    align-items:      center;
    justify-content:  space-between;
    background-color: rgba(var(--color-grey6), 1);
}

header h1 {
    color:       rgba(var(--color-blue), 1);
    font-size:   1.375rem;
    font-weight: 700;
}

.header_userImage {
    width:         2.5rem;
    height:        2.5rem;
    border:        2px solid rgba(var(--color-blue), 1);
    border-radius: 50%;
}


.section_userInfo {
    gap:              1.375rem;
    width:            100%;
    height:           10.8125rem;
    display:          flex;
    padding:          1rem 1.25rem 3rem 1.25rem;
    min-height:       96px;
    align-items:      flex-start;
    margin-bottom:    8vh;
    justify-content:  flex-start;
    background-color: rgba(var(--color-blue-dark), 1);
}

.section_userInfo_image {
    width:         3.75rem;
    height:        3.75rem;
    border:        2px solid rgba(var(--color-grey6), 1);
    border-radius: 50%;
}

.section_userInfo_name {
    color:           rgba(var(--color-grey6), 1);
    width:           fit-content;
    height:          3.75rem;
    display:         flex;
    max-width:       11.875rem;
    font-size:       1.25rem;
    font-weight:     600;
    align-items:     flex-start;
    overflow-wrap:   break-word;
    justify-content: center;
}

main {
    width:          100%;
    height:         19.875rem;
    display:        flex;
    max-width:      600px;
    box-sizing:     border-box;
    min-height:     170px;
    align-items:    center;
    flex-direction: column;   
}

.section_habits {
    width:           100%;
    height:          6.25rem;
    display:         flex;
    align-items:     center;
    flex-direction:  column;
    justify-content: space-between;
}

.section_habits_title {
    color:       black;
    width:       100%;
    padding:     0.5rem .9375rem;
    font-size:   1.25rem;
    text-align:  left;
    font-weight: 600;    
}

nav {
    width:           100%;
    display:         flex;
    padding:         0 .9375rem;
    align-items:     center;
    justify-content: space-between;
}

button:hover, .header_userImage:hover {
    cursor: pointer;
}

nav button {
    color:            rgba(var(--color-grey2), 1);
    border:           none;
    font-size:        1rem;
    font-weight:      500;
    background-color: unset;
}

nav button:hover {
    color: rgba(var(--color-grey3), 1);
}

.btn_create {
    color:            rgba(var(--color-grey6), 1);
    width:            5.625rem;
    height:           2rem;
    font-size:        .875rem;
    text-align:       center;
    font-weight:      600;
    border-radius:    .25rem;
    background-color: rgba(var(--color-blue), 1);
}

.btn_create:hover {
    color:            rgba(var(--color-grey6), 1);
    background-color: rgba(var(--color-blue-dark), 1);
}

table {
    gap:            20px;
    width:          100%;
    display:        flex;
    min-height:     fit-content;
    border-bottom:  2px solid rgba(var(--color-grey4), 1);
    flex-direction: column;
}

thead {
    padding: 1rem .9375rem 0 .9375rem;
}

tr {
    display:         flex;
    justify-content: space-between;
}

thead tr th {
    color:       rgba(var(--color-grey3), 1);
    width:       25%;
    font-size:   1rem;
    text-align:  left;
    font-weight: 500;
}

.th_description, .habit_description, .habit_category, .th_category, .btn_showMore {
    display:  none;
    position: absolute;
}

.th_title {
    width: 50%;
}

.th_edit {
    text-align:    right;
    padding-right: .5313rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

tbody tr {
    height:          55px;
    padding:         .9375rem;
    display:         flex;
    border-top:      2px solid rgba(var(--color-grey4), 1);
    align-items:     center;
    justify-content: space-between;
}

tbody tr:hover {
    background-color: rgba(var(--color-grey6), 1);
}

td {
    width:           20%;
    height:          100%;
    display:         flex;
    text-align:      left;
    align-items:     center;
    justify-content: flex-start; 
    
}

.habit_status {
    padding-left: .9375rem;
}

.btn_selectHabit {
    width:            17px;
    height:           15px;
    border:           solid 2px rgba(var(--color-grey3), 1);
    border-radius:    2px;
    background-color: unset;
}

.habit_title {
    color:       rgba(var(--color-grey2), 1);
    width:       50%;
    overflow:    hidden;
    font-size:   1rem;
    font-weight: 500; 
}

.habit_edit {
   padding-right:   .9375rem;
   justify-content: right;
}

@media (min-width: 769px) {

    header {
       padding: 0 10% ;
    }

    .section_userInfo {
        padding:     0 10%;
        align-items: center;
    }

    main {
        padding:   0 10%;
        max-width: none;
    }

    .section_habits {
        max-width:      1440px;
        flex-direction: row; 
    }

    .section_habits_title {
        padding: 0;
    }

    nav {
        padding:   0;
        max-width: 345px;
    }

    table {
        margin:        5vh 0 12vh 0 ;
        border:        2px solid rgba(var(--color-grey4), 1);
        height:        667;  
        max-width:     1440px;
        border-radius: .25rem;
    }

    thead tr th {
        width: 8%
    }

    .th_title {
        width: 40%;
    }
    
    .th_description {
        width: 30%;
    }

    .th_category {
        width: 12%;
    }

    .th_edit {
        text-align:    right;
        padding-right: 0;
    }

    .th_description, .habit_description, .habit_category, .th_category, .btn_showMore {
        display:  flex;
        position: relative;
    }

    tbody {
        max-height: 550px;
        overflow-y: hidden;
    }

    td {
        width: 8%;
    }

    .habit_title {
        width: 40%;
    }
    
    .habit_description {
        color:       rgba(var(--color-grey2), 1);
        width:       30%;
        overflow:    hidden;
        font-size:   1rem;
        font-weight: 500; 
    }

    .habit_category {
        width:       12%;
        display:     flex;
        align-items: flex-start;
    }

    .habit_category span {
        color:            rgba(var(--color-blue), 1);
        width:            fit-content;
        padding:          5px 10px;
        font-size:        .875rem;
        font-weight:      500;
        border-radius:    0.25rem;
        background-color: rgba(var(--color-blue-light), 1);
    }

    .habit_edit {
        padding:         0;
        justify-content: center;
    }

    .habit_edit img {
        width:  26px;
        height: 6px;
    }

    .btn_showMore {
        color:             rgba(var(--color-grey6), 1);
        padding:           10px 28px;
        font-size:         .875rem;
        font-weight:       600;
        border-radius:     .25rem;
        background-color:  rgba(var(--color-blue), 1);
    }

    .btn_showMore:hover {
        background-color: rgba(var(--color-blue-dark), 1);
    }
}